.bengkelinovasiheadline__wrapper {
  background-image: url("../../static/images/works2.jpg");
  background-size: cover;
  padding: 9rem 0 3rem 0;
  display: flex; }
  .bengkelinovasiheadline__wrapper .headline-text {
    width: 500px;
    color: #fff; }
    .bengkelinovasiheadline__wrapper .headline-text h1 {
      margin: 0;
      margin-bottom: 2rem;
      font-size: 4rem;
      text-transform: uppercase;
      padding-left: 3rem; }
    .bengkelinovasiheadline__wrapper .headline-text .description {
      background: rgba(51, 149, 182, 0.8);
      padding: 2rem 3rem; }
      .bengkelinovasiheadline__wrapper .headline-text .description p {
        margin: 0;
        font-size: 1.1rem;
        line-height: 1.6; }

@media (min-width: 320px) and (max-width: 767px) {
  .bengkelinovasiheadline__wrapper {
    padding: 5rem 0 0 0; }
    .bengkelinovasiheadline__wrapper .headline-text {
      width: 100%; }
      .bengkelinovasiheadline__wrapper .headline-text h1 {
        font-size: 2rem;
        padding-left: 2rem; }
      .bengkelinovasiheadline__wrapper .headline-text .description {
        padding: 2rem; }
        .bengkelinovasiheadline__wrapper .headline-text .description p {
          font-size: 1rem; } }
