@import '../../static/scss/_media-query-mixins';

.contact__wrapper {
  padding: 3rem 6rem;
  h1 {
    margin: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  .comment {
    margin-top: 2rem;
  }
}

@include phone {
  .contact__wrapper {
    padding: 3rem 0;
    h1 {
      text-align: center;
      margin: 0;
      margin-bottom: 2rem;
    }
    .address-wrapper {
      text-align: center;
      padding: 0 1.5rem;
    }
    .comment {
      padding: 0 1rem;
    }
  }
}