.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  padding: 1rem 5rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background: #fff; }
  .header__wrapper .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__wrapper .menu-wrapper .logo a {
      color: #333;
      text-decoration: none;
      text-transform: uppercase; }
      .header__wrapper .menu-wrapper .logo a h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700; }
        .header__wrapper .menu-wrapper .logo a h1 span {
          font-size: 1.1rem;
          margin-left: 12px;
          color: #417E92; }
    .header__wrapper .menu-wrapper .links {
      display: flex;
      align-items: center; }
      .header__wrapper .menu-wrapper .links .social-links a {
        margin-right: 15px;
        border: 1px solid #333;
        border-radius: 50%;
        padding: 3px 4px;
        color: #333; }
        .header__wrapper .menu-wrapper .links .social-links a i {
          text-align: center;
          height: 10px;
          width: 15px; }
        .header__wrapper .menu-wrapper .links .social-links a:last-child {
          margin-right: 0; }

.header-mobile__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  padding: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.98); }
  .header-mobile__wrapper .menu-wrapper .logo {
    position: relative;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-mobile__wrapper .menu-wrapper .logo .header h3 {
      font-size: 1.2rem;
      margin: 0;
      color: #417E92;
      font-weight: 700; }
    .header-mobile__wrapper .menu-wrapper .logo .mobile-menu__trigger i {
      font-size: 1.5rem; }
      .header-mobile__wrapper .menu-wrapper .logo .mobile-menu__trigger i:hover {
        cursor: pointer; }
    .header-mobile__wrapper .menu-wrapper .logo a h1 img {
      width: 40px; }
  .header-mobile__wrapper .menu-wrapper .links {
    display: none; }
    .header-mobile__wrapper .menu-wrapper .links .header-item a {
      display: block;
      text-align: center;
      width: 100%;
      padding: 8px 5px;
      text-decoration: none; }
    .header-mobile__wrapper .menu-wrapper .links .social-links {
      display: table;
      margin: 0 auto;
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .header-mobile__wrapper .menu-wrapper .links .social-links a {
        margin-right: 15px;
        border: 1px solid #333;
        border-radius: 50%;
        padding: 3px 4px;
        color: #333; }
        .header-mobile__wrapper .menu-wrapper .links .social-links a i {
          text-align: center;
          height: 10px;
          width: 15px; }
        .header-mobile__wrapper .menu-wrapper .links .social-links a:last-child {
          margin-right: 0; }

.showing {
  display: block !important; }

@media (min-width: 320px) and (max-width: 767px) {
  .header__wrapper {
    display: none; }
  .header-mobile__wrapper {
    display: block; } }
