.footer__wrapper {
  background: #000;
  padding: 1rem 5rem; }
  .footer__wrapper .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer__wrapper .menu-wrapper .copyright p, .footer__wrapper .menu-wrapper .contact p {
      margin: 0;
      color: #fff;
      font-size: 0.9rem; }

@media (min-width: 320px) and (max-width: 767px) {
  .footer__wrapper {
    background: #000;
    padding: 1rem; }
    .footer__wrapper .menu-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .footer__wrapper .menu-wrapper .copyright p, .footer__wrapper .menu-wrapper .contact p {
        margin: 0;
        color: #fff;
        font-size: 0.7rem; } }
