@import '../../static/scss/_media-query-mixins';

.headline__wrapper {
  background-image: url('../../static/images/homepage-image.jpg');
  background-size: cover;
  padding: 9rem 0;
  display: flex;
  justify-content: flex-end;
  .headline-text {
    width: 600px;
    color: #fff;
    text-align: right;
    h1 {
      margin: 0;
      margin-bottom: 2rem;
      padding-right: 5rem;
    }
    .description {
      background: rgba(51, 149, 182, 0.8);
      padding: 2rem 5rem;
      p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}

@include phone {
  .headline__wrapper {
    position: relative;
    display: block;
    padding: 0;
    justify-content: flex-end;
    .headline-text {
      padding: 6rem 0 0;
      background: rgba(0,0,0,0.5);
      width: 100%;
      color: #fff;
      text-align: center;
      h1 {
        margin: 0;
        padding-bottom: 2rem;
        margin-bottom: 0;
        text-align: center;
        padding-right: 0;
        font-size: 1.5rem;
      }
      .description {
        text-align: left;
        background: rgba(51, 149, 182, 0.8);
        padding: 2rem;
        p {
          margin: 0;
          font-size: 1.1rem;
        }
      }
    }
  }
}